* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 100%/1.5 sans-serif;
}

#board {
  border: 5px solid #666;
  width: 600px;
  height: 600px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.score-container {
  font-size: 1.4rem;
  font-weight: 700;
}
